.NoteItem {
    border: 1px solid lightgray;
    height: 120px;
    padding: 10px;
    margin-bottom: 10px;
}

.NoteItem:hover {
    border: 1px solid black;
}

.NoteName {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.NoteDetails {
    text-align: left;
}

.NoteModified {
    text-align: center;
    padding: 5px;
    margin: 0;
}

.NoteButton-Delete {
    background: none;
    border: 1px solid lightgray;
    padding: 10px;
    margin-right: 10px;
    margin-left: 20px;
}

.NoteButton-Delete:hover {
    border: 1px solid red;
    background-color: red;
    color: white;
}

button:hover {
    cursor: pointer;
    border: 1px solid black;
}

@media screen and (min-width: 1200px) {
    .NoteName {
        text-align: left;
    }

    .NoteModified {
        text-align: left;
    }

    .NoteButton-Area {
        text-align: right;
    }
}