.NoteItem {
    border: 1px solid lightgray;
    height: 110px;
    padding: 10px;
    margin-bottom: 10px;
}

.NoteItem:hover {
    border: 1px solid black;
}

.NoteName {
    margin-top: 0;
    margin-bottom: 0;
}

.NoteDetails {
    text-align: left;
}

.NoteModified {
    margin-top: 5px;
    margin-bottom: 5px;
}

.NoteButton-Area {
    text-align: right;
}

.NoteButton-Delete {
    background: none;
    border: 1px solid lightgray;
    padding: 10px;
    margin-right: 10px;
    margin-left: 20px;
}

.NoteButton-Delete:hover {
    border: 1px solid red;
    background-color: red;
    color: white;
}

button:hover {
    cursor: pointer;
    border: 1px solid black;
}