.App {
    text-align: center;
    min-height: 100vh;
    box-sizing: border-box;
}

.App-Nav {
    width: 30%;
    margin-left: 20px;
}

.App-Main {
    margin-bottom: 50px;
    width: 70%;
    margin-left: 20px;
    margin-right: 20px;
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

header {
    text-align: left;
    margin-left: 30%;
    padding-left: 20px;
}

.Contents {
    display: flex;
    align-items: flex-start;
}

button, input, select {
    background: none;
    color: black;
    border: 1px solid lightgray;
    padding: 10px;
}

input, select {
    width: 100%;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

button {
    margin: 5px;
}

button:hover {
    cursor: pointer;
    border: 1px solid black;
}

button:visited {
    color: black;
}

.error {
    color: red;
    font-style: italic;
}

form {
    margin: 0;
    border: 1px solid lightgray;
    padding: 0 20px 20px 20px;
}