.App {
    text-align: center;
    min-height: 100vh;
    box-sizing: border-box;
}

header {
    text-align: center;
}

.App-Nav {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.App-Main {
    margin-bottom: 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: black;
}

button, input, select {
    background: none;
    color: black;
    border: 1px solid lightgray;
    padding: 10px;
}

input, select {
    width: 100%;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

button {
    margin: 5px;
}

button:hover {
    cursor: pointer;
    border: 1px solid black;
}

button:visited {
    color: black;
}

.error {
    color: red;
    font-style: italic;
}

form {
    margin: 0;
    border: 1px solid lightgray;
    padding: 0 20px 20px 20px;
}

@media screen and (min-width: 1200px) {
    header {
        text-align: left;
        margin-left: 35%;
        padding-left: 20px;
    }

    .App-Nav {
        width: 35%;
        margin-left: 20px;
        text-align: left;
    }
    
    .App-Main {
        margin-bottom: 50px;
        width: 65%;
        margin-left: 20px;
        margin-right: 20px;
        text-align: left;
    }
    
    .Contents {
        display: flex;
        align-items: flex-start;
    }
}