.NoteListNav {
    margin-right: 0px;
}

.NoteListNav-Folder-Link {
    border: 1px solid lightgray;
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
}

.NoteListNav-Folder-Link:hover {
    cursor: pointer;
    border: 1px solid black;
}

.active {
    background-color: yellow;
}

h3 {
    margin: 0;
    padding: 5px;
}

.FolderButton-Delete {
    margin-left: 20px;
}

.FolderButton-Delete:hover {
    border: 1px solid red;
    background-color: red;
    color: white;
}

.NoteListNav-Button-Container {
    margin: 0;
    width: 50%;
}

@media screen and (min-width: 1200px) {
    .NoteListNav-Folder-Link {
        height: 44px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}